@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

main {
    background-color:#FAF9F6;
    align-items: center;
    height: 90vh;
    padding: 50px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.accordion {
    padding: 20px
}
@media screen and (min-width: 768px) {
    main {
        padding: 100px;
    }
}

footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color:#FAF9F6;
}
.header {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}