
.navbar-expand-sm .offcanvas .offcanvas-body {
  display: flex;
  flex-grow: 0;
  padding: 0;
  overflow-y: visible;
  font-family: 'Rubik', sans-serif;
}
.about {
  position: fixed;
  left: 50px;
}
h1 {
  text-align: center;
  font-size: 72px;
  margin: 40px;
}

h2 {
  font-size: 45px;
  text-align: center;
  position:relative; top: 260px;
  color: rgb(0,0,0);
}
.loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  top: 50%;
}

p {
  font-size: 20px;
  font-weight: lighter;
}

body {
  margin: 0px;
  font-size: 36px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}

.isa {
  font-family: 'Rubik', sans-serif;
  position: absolute;
  top: 18vh;
  left: 30vw;
  font-size: 15px;
}
.title {
  position:absolute; top:20vh; left: 23vw;
  font-family: 'Berkshire Swash', cursive;
  font-size: 20vw;

}
.title-2 {
  color: #FFDAC7;
  position:absolute; top:20vh; left: 24vw;
  font-family: 'Berkshire Swash', cursive;
  font-size: 20vw;
}

.intro {
  background-color: rgb(248, 249, 250);
  scroll-snap-stop: always;
  height: 400vh;
}

.portfolio {

  top: 94vh;
  text-align: center;
  font-size: 13px
}

.project-1 {
  position: absolute; top: 850px; left:20px;
  border: 5px solid #F637EC;
  border-radius: 20px;
}
.project-1:hover {
  border-color: #555;
}
